<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="emcees.ch.labo_03">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="emcees.ch.labo_03.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="emcees.ch.labo_03.NFC"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="emcees.ch.labo_03.iBeacon"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="emcees.ch.labo_03.Sensors"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="emcees.ch.labo_03.Barcode"
            android:windowSoftInputMode="adjustPan" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>